<!-- <ez-ng-lib></ez-ng-lib> -->
<!-- <ez-ez-ng-lib></ez-ez-ng-lib> -->

<!-- <ez-tabbar styleClass="tabbar" headerStyleClass="tabhead" bodyStyleClass="tabbody" direction="horizontal" scrollHt=150 height=120>
    <ez-tab tabTitle="Person">
        Content
    </ez-tab>

    <ez-tab [tabTitle]="heading1" [tabBody]="hello"></ez-tab>
    
    <ez-tab tabTitle="Extras">
        <div>Hello, User</div>
    </ez-tab>
    
    <ng-template #hello>
        <div>Hello, User</div>
    </ng-template> 
    
    <ng-template #heading1>
        <span class="fa fa-user"></span> <span style="padding-left: 10px">User</span>
    </ng-template>
</ez-tabbar> -->
<!-- <div style="width: 220px">
    <ez-listbox [listData]="listData" [template]="listTmpl" styleClass="customStyleClass" selection="single" (onselection)="getSelectedItems($event)"></ez-listbox>
</div>
<ng-template #listTmpl let-hero="data">
    <div class="template_class">
        <i [ngClass]="hero?.icon"></i>
        <span>
            Hi, {{hero?.label}}. How are you ?
        </span>
    </div>
</ng-template> -->

<ez-round-progress [progress]="progress" progressColor="#6A1B9A" textCircleColor="#45B649" progressBgColor="#CFD8DC"
        [showText]=true [radius]=60 [fontSize]=18 [progressStrokeWdt]=2 [pathStrokeWdt]=5 [innerCircleRad]=45 textColor="#fff"></ez-round-progress>

    <ez-round-progress [progress]="progress" progressColor="#6A1B9A" textCircleColor="#45B649" progressBgColor="#CFD8DC"
        [showText]=true [radius]=60 [fontSize]=18 [progressStrokeWdt]=2 [pathStrokeWdt]=5 [innerCircleRad]=45 textColor="#fff" text="Hi" (svgClick)="clickOnSvg($event)"></ez-round-progress>
<router-outlet></router-outlet>
